<app-native-date-picker
  [placeholder]="placeholder"
  [cssClass]="cssClass"
  [culture]="culture"
  [range]="range"
  [time]="time"
  [disabled]="disabled"
  [allowNull]="allowNull"
  [pickButton]="pickButton"
  [plateOpen]="plateOpen"
  [min]="min"
  [max]="max"
  [model]="model"
  [modelEnd]="modelEnd"
  [minDays]="minDays"
  [minMonths]="minMonths"
  [minYears]="minYears"
  [maxDays]="maxDays"
  [maxMonths]="maxMonths"
  [maxYears]="maxYears"
  [fromToday]="fromToday"
  [tillToday]="tillToday"
  (modelChange)="update($event)"
  (modelEndChange)="updateEnd($event)"
  (cultureChange)="cultureChange($event)"
></app-native-date-picker>
