<div class="roxana-page roxana-pages-workspace-settings-contact-fields">
  <div class="roxana-column">
    <app-profile-side-bar></app-profile-side-bar>
  </div>
  <div class="roxana-content">

    <div class="setting-layout">

      <div class="header">
        <div class="title">Contact Fields</div>
        <div class="description">
          Create and manage contact fields to save additional information about your contacts.
        </div>
      </div>
      <div class="paginated-list">

        <div class="toolbar">
          <div class="actions">
            <button mat-ripple>
              + ADD FIELD
            </button>
          </div>
          <div class="searchbar">
            <i class="rox-icon-search"></i>
            <input type="text" placeholder="Search files">
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
