<div class="roxana-page roxana-pages-forgot">
  <div class="roxana-centered-box">
    <div class="roxana-centered-box-wrapper">
      <div class="centered-box-header">
        <i class="rox-icon-message-circle"></i>
        <span>ROXANA.IO</span>
      </div>
      <div class="centered-box-content">
        <div class="heading">Reset your password</div>
        <div class="action-separator">
          <div class="text"></div>
        </div>
        <div class="action-note">
          Enter the email address you used when you signed up and we’ll send you instructions to reset your password.
        </div>
        <div class="input-wrappers">
          <div class="input-wrapper">
            <div class="inputs">
              <i class="rox-icon-mail"></i>
              <input type="text" placeholder="Enter your email address">
            </div>
            <div class="validation">
              Please provide an email address
            </div>
          </div>
        </div>
        <div class="action-wrappers">
          <button mat-ripple>
            <i class="rox-icon-loader spinner"></i>
            <span>Send Reset Instructions</span>
          </button>
        </div>
      </div>
      <div class="centered-box-footer">
        <a routerLink="/account/login" href="javascript:void(0)">Signin now</a>
        <a routerLink="/account/register" href="javascript:void(0)">Need an account</a>
      </div>
    </div>
  </div>
</div>
