<div class="roxana-profile-sidebar">
  <div class="key-value no-hover mb-2">
    <div class="key bold">Profile Settings</div>
  </div>

  <div class="key-value"
       routerLink="/account/profile"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Profile</div>
  </div>

  <div class="key-value"
       routerLink="/account/notifications"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Notifications</div>
  </div>







  <div class="key-value no-hover mt-4">
    <div class="key bold">Workspace Settings</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/general"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">General</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/users"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Users</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/teams"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Teams</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/channels"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Channels</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/contact-fields"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Contact Fields</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/integrations"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Integrations</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/closing-notes"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Closing Notes</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/snippets"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Snippets</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/files"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Files</div>
  </div>

  <div class="key-value"
       routerLink="/space/123456/settings/export"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Data Exports</div>
  </div>



  <div class="key-value no-hover mt-4">
    <div class="key bold">Organization Settings</div>
  </div>

  <div class="key-value"
       routerLink="/organization/123456/settings/general"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">General</div>
  </div>

  <div class="key-value"
       routerLink="/organization/123456/settings/users"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Users</div>
  </div>

  <div class="key-value"
       routerLink="/organization/123456/settings/workspaces"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Workspaces</div>
  </div>

  <div class="key-value"
       routerLink="/organization/123456/settings/usage"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Usage</div>
  </div>

  <div class="key-value"
       routerLink="/organization/123456/settings/billing"
       routerLinkActive="selected"
       mat-ripple>
    <div class="key">Billing</div>
  </div>
</div>
