.af-grid {
  .grid-header {
    display: flex;
    border-bottom: 1px solid #dddddd;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;

    .fake-scrollbar {
      width: 20px;
      height: 20px;
      display: flex;
    }
  }

  .grid-content {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-height: 350px;
    overflow-x: auto;
    overflow-y: scroll;

    .grid-row {
      display: flex;
      border-bottom: 1px solid #dddddd;

      &.selected {
        background: #fcdcb4 !important;
      }
    }
  }

  .grid-footer {
    display: flex;
    flex-direction: column;
  }
}
