<div class="roxana-page roxana-pages-workspace-settings-files">
  <div class="roxana-column">
    <app-profile-side-bar></app-profile-side-bar>
  </div>
  <div class="roxana-content">

    <div class="setting-layout">

      <div class="header">
        <div class="title">Files</div>
        <div class="description">
          Store files to be used in Messages, Broadcasts, and Workflows.
        </div>
      </div>
      <div class="paginated-list">

        <div class="toolbar">
          <div class="actions">
            <button mat-ripple>
              + ADD FILE
            </button>
          </div>
          <div class="searchbar">
            <i class="rox-icon-search"></i>
            <input type="text" placeholder="Search files">
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

