<div class="roxana-page roxana-pages-contacts">
  <div class="roxana-content">
    <div class="full-header">
      <div class="blocks">
        <div class="block-1">
          <div class="section">
            <button mat-ripple>
              <span>TEAM_NAME</span>
              <i class="rox-icon-chevron-down"></i>
            </button>
          </div>
          <div class="actions">
            <button mat-ripple>
              + ADD CONTACT
            </button>
          </div>
        </div>
        <div class="block-2">
          <div *ngIf="showSearch" class="search-box">
            <input type="text" placeholder="Search contacts">
          </div>
          <div class="actions">
            <i (click)="showSearch = !showSearch" class="rox-icon-search"></i>
            <i class="rox-icon-filter"></i>
            <i class="rox-icon-menu"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
