<div class="roxana-page roxana-pages-login">
  <div class="roxana-centered-box">
    <div class="roxana-centered-box-wrapper">
      <div class="centered-box-header">
        <i class="rox-icon-message-circle"></i>
        <span>ROXANA.IO</span>
      </div>
      <div class="centered-box-content">
        <div class="heading">Signin to your account</div>
        <div class="input-wrappers">
          <div class="input-wrapper">
            <div class="inputs">
              <i class="rox-icon-mail"></i>
              <input type="text" placeholder="Enter your email address">
            </div>
            <div class="validation">
              Please provide an email address
            </div>
          </div>
          <div class="input-wrapper">
            <div class="inputs">
              <i class="rox-icon-lock"></i>
              <input #password type="password" placeholder="Enter your password">
              <i (click)="togglePasswordVisibility($event, password)" class="rox-icon-eye-off"></i>
            </div>
            <div class="validation">
              Password is required
            </div>
          </div>
        </div>
        <div class="action-wrappers">
          <button mat-ripple>
            <i class="rox-icon-loader spinner"></i>
            <span>Signin</span>
          </button>
          <div class="action-separator">
            <div class="text">or</div>
          </div>
          <button mat-ripple>
            <i class="rox-icon-google3"></i>
            <span>Signin with Google</span>
          </button>
        </div>
      </div>
      <div class="centered-box-footer">
        <a routerLink="/account/forgot" href="javascript:void(0)">Forgot Password</a>
        <a routerLink="/account/register" href="javascript:void(0)">Need an account</a>
      </div>
    </div>
  </div>
</div>
