<div class="roxana-rav-bar">
  <div class="roxana-rav-bar-list">
    <div class="nav-avatar">
      <button>
        <span>K</span>
      </button>
    </div>

    <div *ngFor="let item of appState.navigation.menus"
         [routerLink]="item.url"
         routerLinkActive="selected"
         class="nav-item">
      <a href="javascript:void(0)">
        <i [class]="item.icon"></i>
      </a>
    </div>

  </div>
  <div class="roxana-rav-bar-list">

    <div class="nav-item">
      <a [matMenuTriggerFor]="userMenu">
        <i class="rox-icon-user"></i>
      </a>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above">
      <div class="roxana-menu-wrapper w-250 no-space">
        <div class="roxana-menu-item-profile">
          <div class="row-1">
            <div class="name">Navid Kianfar</div>
            <div class="online-status">
              <div class="color"></div>
              <div class="text">Online</div>
            </div>
          </div>
          <div class="row-2">nvd.kianfar@gmail.com</div>
        </div>
        <div class="roxana-menu-item" mat-ripple>
          <div class="title">
            Set myself as <strong>Busy</strong>
          </div>
        </div>
        <div class="roxana-menu-item-separator"></div>
        <div routerLink="/account/notifications"
             class="roxana-menu-item"
             mat-ripple>
          <div class="title">Notifications</div>
        </div>
        <div routerLink="/organization/123456/settings/billing"
             class="roxana-menu-item"
             mat-ripple>
          <div class="title">Billing</div>
        </div>
        <div (click)="logout()" class="roxana-menu-item" mat-ripple>
          <div class="title">Logout</div>
        </div>
      </div>
    </mat-menu>

    <div class="nav-item">
      <a href="javascript:void(0)">
        <i class="rox-icon-bell"></i>
      </a>
    </div>

    <div class="nav-item">
      <a [matMenuTriggerFor]="helpMenu">
        <i class="rox-icon-help-circle"></i>
      </a>
    </div>
    <mat-menu #helpMenu="matMenu" xPosition="before" yPosition="above">
      <div class="roxana-menu-wrapper">
        <div class="roxana-menu-item" mat-ripple>
          <div class="title">Documentation</div>
          <div class="description">Learn more about roxana.io from our handy documentation</div>
        </div>
        <div class="roxana-menu-item" mat-ripple>
          <div class="title">Request a Feature</div>
          <div class="description">Suggest a feature and let your voice be heard</div>
        </div>
        <div class="roxana-menu-item" mat-ripple>
          <div class="title">Get Support</div>
          <div class="description">Having issues? Our customer team is ready to help!</div>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
