<div class="roxana-rav-bar">
  <div class="roxana-rav-bar-list">
    <div class="nav-avatar">
      <button>
        <span>K</span>
      </button>
    </div>

    <div class="nav-item">
      <a href="/space/92086/dashboard">
        <i class="rox-icon-pie-chart"></i>
      </a>
    </div>

    <div class="nav-item selected">
      <a href="/space/92086/message">
        <i class="rox-icon-message-square"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="/space/92086/contact">
        <i class="rox-icon-users"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="/space/92086/broadcast">
        <i class="rox-icon-radio"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="/space/92086/workflows">
        <i class="rox-icon-command"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="/space/92086/reports/conversations">
        <i class="rox-icon-bar-chart-2"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="/space/92086/settings">
        <i class="rox-icon-settings"></i>
      </a>
    </div>

  </div>
  <div class="roxana-rav-bar-list">

    <div class="nav-item">
      <a href="javascript:void(0)">
        <i class="rox-icon-user"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="javascript:void(0)">
        <i class="rox-icon-bell"></i>
      </a>
    </div>

    <div class="nav-item">
      <a href="javascript:void(0)">
        <i class="rox-icon-help-circle"></i>
      </a>
    </div>

  </div>
</div>
