.roxana-rav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .nav-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    button {
      background: none;
      border: none;
      outline: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background: red;
    }
  }

  .roxana-rav-bar-list {
    .nav-item {
      cursor: pointer;
      a {
        display: flex;
        padding: 17px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        i {
          font-size: 21px;
        }
      }
    }
  }
}
