.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e0e0e0!important;

  .v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0,0,0,.87);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
  }

  .v-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1 1 100%;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-decoration: none;
    color: rgba(0,0,0,.87)!important;
  }
  .v-btn.v-btn--icon {
    color: rgba(0,0,0,.54);
  }
  .v-btn--icon.v-size--default {
    height: 36px;
    width: 36px;
  }
  .v-btn:not(.v-btn--disabled) {
    will-change: box-shadow;
  }
  .v-btn:before {
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
    background-color: currentColor;
  }
  .v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
  }

}
