<div class="roxana-page roxana-pages-organization-settings-workspaces">
  <div class="roxana-column">
    <app-profile-side-bar></app-profile-side-bar>
  </div>
  <div class="roxana-content">

    <div class="setting-layout">

      <div class="header">
        <div class="title">Workspaces</div>
        <div class="description">
          Manage your organization's workspaces here.
        </div>
      </div>
      <div class="paginated-list">

        <div class="toolbar">
          <div class="actions">
            <button mat-ripple>
              + ADD WORKSPACE
            </button>
          </div>
          <div class="searchbar">
            <i class="rox-icon-search"></i>
            <input type="text" placeholder="Search snippets">
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
