
.v-main__wrap {
  .conversations-list-wrapper {
    max-width: 300px !important;
    border-right: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important;

    .filter-actions {
      background: #f5f5f5;
      border-bottom: 1px solid #e0e0e0 !important;
    }
  }
}
