<div class="v-main__wrap">
  <div data-v-9a36638c="" class="row flex-column overflow-hidden no-gutters" style="height: 100vh;">
    <div data-v-9a36638c="" class="col col-12" style="flex: 0 0 auto;"><!----> <!----></div>
    <div data-v-9a36638c="" class="overflow-y-auto col col-12" style="flex: 1 1 0%;">
      <div data-v-f787204a="" data-v-9a36638c="" class="messages-page fill-height overflow-hidden">
        <div data-v-f787204a="" class="row fill-height no-gutters">
          <div class="fill-height noPrint col" style="flex: 0 0 230px; width: 230px;">
            <aside class="v-navigation-drawer v-navigation-drawer--floating v-navigation-drawer--open theme--light"
                   data-booted="true"
                   style="height: 100%; top: 0px; transform: translateZ(0px); width: 100%; background-color: rgb(241, 241, 241); border-color: rgb(241, 241, 241);">
              <div class="v-navigation-drawer__content">
                <div data-v-f787204a="" class="fill-height v-sheet theme--light grey lighten-4">
                  <div class="row fill-height flex-column no-gutters">
                    <div class="flex-grow-0 flex-shrink-0 my-3 mt-sm-5 mb-sm-0 px-4 col col-12" style="flex: 0 0 0%;">
                      <div class="row no-gutters justify-space-between">
                        <div class="col"><span class="black--text subtitle-2 font-weight-medium ">
						Inbox
					</span></div>
                        <div class="hidden-sm-and-down text-right col">
                          <button type="button"
                                  class="btn-remove--hover-bg v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--x-small grey--text text--darken-1"
                                  style="top: -1px;"><span class="v-btn__content"><span aria-hidden="true"
                                                                                        class="v-icon notranslate theme--light"
                                                                                        style="font-size: 18px; height: 18px; width: 18px;"><span
                            data-v-37bdefb7="" aria-hidden="true"
                            class="v-icon notranslate theme--light v-icon__component theme--light"
                            style="font-size: 18px; height: 18px; width: 18px;"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     viewBox="0 0 24 24" role="img"
                                                                                     aria-hidden="true"
                                                                                     class="v-icon__svg"><path
                            d="M20.48 24H3.52C1.922 24 .559 22.64.559 21.04V2.96C.559 1.36 1.922 0 3.519 0H20.48c1.598 0 2.961 1.36 2.961 2.96v18.08c0 1.6-1.363 2.96-2.96 2.96zM3.52 2c-.56 0-.961.398-.961.96v18.08c0 .562.48.96.96.96H20.48c.56 0 .961-.48.961-.96V2.96c0-.562-.48-.96-.96-.96zm0 0 M6.719 1.04h2v22h-2zM16.8 15.762c-.241 0-.48-.082-.722-.32l-2.797-2.801c-.402-.403-.402-1.04 0-1.36l2.797-2.8c.402-.403 1.043-.403 1.363 0 .399.398.399 1.039 0 1.359l-2 2.16 2.079 2.078c.402.402.402 1.043 0 1.363-.239.239-.48.32-.72.32zm0 0"></path></svg></span></span></span>
                          </button>
                          <span class="v-tooltip v-tooltip--right"><!----></span></div>
                      </div>
                    </div>
                    <div class="flex-grow-1 flex-shrink-1 overflow-x-hidden overflow-y-auto col" style="flex: 1 1 0%;">
                      <div class="row no-gutters">
                        <div class="col col-12">
                          <div role="list" class="v-list v-sheet theme--light v-list--dense v-list--flat"><span><div
                            tabindex="0" role="listitem"
                            class="inbox-list--item v-list-item v-list-item--link theme--light"
                            style="min-height: 38px;"><div class="v-list-item__title"><span right=""
                                                                                            class="v-badge d-flex justify-start v-badge--dot v-badge--inline theme--light"><span
                            class="text-truncate" style="padding-bottom: 1px;"><!----> <span
                            class="caption inbox-list--item__name">
									All
								</span></span><span class="v-badge__wrapper"><span aria-atomic="true" aria-label="Badge"
                                                                   aria-live="polite" role="status"
                                                                   class="v-badge__badge primary "
                                                                   style="display: none;"></span></span></span></div> <div
                            class="v-list-item__action" style="min-width: inherit; text-align: right;"><span
                            class="v-list-item__action-text"><span class="text-right">
										0
									</span><span class="v-tooltip v-tooltip--bottom"><!----></span></span></div> <div
                            class="v-list-item__action" style="display: none;"><button type="button"
                                                                                       class="btn-remove--hover-bg mr-n4 v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--small"
                                                                                       slot="activator"
                                                                                       default="default"
                                                                                       style="max-height: 19px;"><span
                            class="v-btn__content"><span aria-hidden="true" medium=""
                                                         class="v-icon notranslate theme--light"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                            class="v-icon__svg"><path
                            d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path></svg></span></span></button><div
                            class="v-menu"><!----></div></div></div></span><span class="v-tooltip v-tooltip--bottom"><!----></span><span
                            class="v-tooltip v-tooltip--bottom"><!----></span><span><div tabindex="0" role="listitem"
                                                                                         class="inbox-list--item v-list-item v-list-item--link theme--light v-list-item--active"
                                                                                         style="min-height: 38px;"><div
                            class="v-list-item__title"><span right=""
                                                             class="v-badge d-flex justify-start v-badge--dot v-badge--inline theme--light"><span
                            class="text-truncate" style="padding-bottom: 1px;"><!----> <span
                            class="caption inbox-list--item__name">
									Mine
								</span></span><span class="v-badge__wrapper"><span aria-atomic="true" aria-label="Badge"
                                                                   aria-live="polite" role="status"
                                                                   class="v-badge__badge primary "
                                                                   style="display: none;"></span></span></span></div> <div
                            class="v-list-item__action" style="min-width: inherit; text-align: right;"><span
                            class="v-list-item__action-text"><span class="text-right">
										0
									</span><span class="v-tooltip v-tooltip--bottom"><!----></span></span></div> <div
                            class="v-list-item__action" style="display: none;"><button type="button"
                                                                                       class="btn-remove--hover-bg mr-n4 v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--small"
                                                                                       slot="activator"
                                                                                       default="default"
                                                                                       style="max-height: 19px;"><span
                            class="v-btn__content"><span aria-hidden="true" medium=""
                                                         class="v-icon notranslate theme--light"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                            class="v-icon__svg"><path
                            d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path></svg></span></span></button><div
                            class="v-menu"><!----></div></div></div></span><span class="v-tooltip v-tooltip--bottom"><!----></span><span><div
                            tabindex="0" role="listitem"
                            class="inbox-list--item v-list-item v-list-item--link theme--light"
                            style="min-height: 38px;"><div class="v-list-item__title"><span right=""
                                                                                            class="v-badge d-flex justify-start v-badge--dot v-badge--inline theme--light"><span
                            class="text-truncate" style="padding-bottom: 1px;"><!----> <span
                            class="caption inbox-list--item__name">
									Unassigned
								</span></span><span class="v-badge__wrapper"><span aria-atomic="true" aria-label="Badge"
                                                                   aria-live="polite" role="status"
                                                                   class="v-badge__badge primary "
                                                                   style="display: none;"></span></span></span></div> <div
                            class="v-list-item__action" style="min-width: inherit; text-align: right;"><span
                            class="v-list-item__action-text"><span class="text-right">
										0
									</span><span class="v-tooltip v-tooltip--bottom"><!----></span></span></div> <div
                            class="v-list-item__action" style="display: none;"><button type="button"
                                                                                       class="btn-remove--hover-bg mr-n4 v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--small"
                                                                                       slot="activator"
                                                                                       default="default"
                                                                                       style="max-height: 19px;"><span
                            class="v-btn__content"><span aria-hidden="true" medium=""
                                                         class="v-icon notranslate theme--light"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                            class="v-icon__svg"><path
                            d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z"></path></svg></span></span></button><div
                            class="v-menu"><!----></div></div></div></span>
                            <div tabindex="0" role="listitem" class="v-list-item v-list-item--link theme--light"
                                 style="min-height: 38px;">
                              <button type="button"
                                      class="ml-n1 btn-remove--hover-bg v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--x-small">
                                <span class="v-btn__content"><span aria-hidden="true"
                                                                   class="v-icon notranslate theme--light rotate-90"
                                                                   style="font-size: 20px; height: 20px; width: 20px; color: rgb(34, 34, 34); caret-color: rgb(34, 34, 34);"><svg
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                                  class="v-icon__svg" style="font-size: 20px; height: 20px; width: 20px;"><path
                                  d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg></span></span>
                              </button>
                              <div class="v-list-item__title font-weight-medium ml-1">
                                Team
                              </div>
                            </div>
                            <div tabindex="-1" role="listitem" class="v-list-item theme--light">
                              <div class="v-list-item__title pl-5 grey--text text--darken-2">
                                No inboxes available
                              </div>
                            </div>
                            <div tabindex="0" role="listitem" class="v-list-item v-list-item--link theme--light"
                                 style="min-height: 38px;">
                              <button type="button"
                                      class="ml-n1 btn-remove--hover-bg v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--x-small">
                                <span class="v-btn__content"><span aria-hidden="true"
                                                                   class="v-icon notranslate theme--light rotate-90"
                                                                   style="font-size: 20px; height: 20px; width: 20px; color: rgb(34, 34, 34); caret-color: rgb(34, 34, 34);"><svg
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                                  class="v-icon__svg" style="font-size: 20px; height: 20px; width: 20px;"><path
                                  d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg></span></span>
                              </button>
                              <div class="v-list-item__title font-weight-medium ml-1">
                                Custom
                              </div>
                              <div class="v-list-item__action">
                                <button type="button"
                                        class="btn-remove--hover-bg mr-n4 v-btn v-btn--depressed v-btn--flat v-btn--icon v-btn--round theme--light v-size--x-small">
                                  <span class="v-btn__content"><span aria-hidden="true"
                                                                     class="v-icon notranslate theme--light"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true"
                                    class="v-icon__svg"><path
                                    d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path></svg></span></span></button>
                              </div>
                            </div> <!----> <!---->
                            <div tabindex="-1" role="listitem" class="v-list-item theme--light"
                                 style="min-height: 38px;">
                              <div class="v-list-item__title pl-5 grey--text text--darken-2">
                                No inboxes available
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="v-navigation-drawer__border"></div>
            </aside>
          </div>
          <div class="my-0 fill-height col" style="height: 100%;">
            <div class="fill-height ">
              <div data-v-f787204a="" class="row fill-height no-gutters">
                <div data-v-f787204a="" class="fill-height col">
                  <div data-v-f787204a="" class="row fill-height no-gutters">
                    <div data-v-07723075="" data-v-f787204a=""
                         class="d-flex flex-column fill-height conversations-list-wrapper col col-12" init="true">
                      <div data-v-07723075="" class="flex-grow-0">
                        <div data-v-07723075="" class="row no-gutters">
                          <div data-v-07723075="" class="col col-12">
                            <div data-v-07723075=""
                                 class="conversations-list-wrapper--sheet v-sheet theme--light elevation-0">
                              <div data-v-07723075="" class="px-4 py-3 v-sheet theme--light grey lighten-4">
                                <div class="row no-gutters align-center justify-center"><!---->
                                  <div class="grow col">
                                    <div
                                      class="v-input conversation-list--search pa-0 v-input--hide-details v-input--dense theme--light v-text-field v-text-field--single-line v-text-field--solo v-text-field--solo-flat v-text-field--is-booted v-text-field--enclosed v-text-field--placeholder">
                                      <div class="v-input__control">
                                        <div class="v-input__slot white" style="height: 30px;">
                                          <div class="v-input__prepend-inner"><span aria-hidden="true"
                                                                                    class="v-icon notranslate ml-2 theme--light grey--text text--darken-1"
                                                                                    style="font-size: 18px; height: 18px; width: 18px;"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img"
                                            aria-hidden="true" class="v-icon__svg"
                                            style="font-size: 18px; height: 18px; width: 18px;"><path
                                            d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path></svg></span>
                                          </div>
                                          <div class="v-text-field__slot"><input data-cy="txt-search-contact"
                                                                                 id="input-9403"
                                                                                 placeholder="Search by contact"
                                                                                 type="text"></div>
                                          <div class="v-input__append-inner">
                                            <div class="v-input__icon v-input__icon--clear">
                                              <button disabled="disabled" type="button" aria-label="clear icon"
                                                      class="v-icon notranslate v-icon--disabled v-icon--link theme--light">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img"
                                                     aria-hidden="true" class="v-icon__svg">
                                                  <path
                                                    d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
                                                </svg>
                                              </button>
                                            </div>
                                          </div>
                                          <div class="v-input__append-inner">
                                            <button type="button"
                                                    class="ml-n1 v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--small grey--text text--darken-1"
                                                    style="margin-right: 6px;"><span class="v-btn__content"><span
                                              aria-hidden="true" data-cy="btn-filter-details"
                                              class="v-icon notranslate theme--light"
                                              style="font-size: 15px; height: 15px; width: 15px;"><span
                                              data-v-37bdefb7="" aria-hidden="true"
                                              class="v-icon notranslate theme--light v-icon__component theme--light"
                                              style="font-size: 15px; height: 15px; width: 15px;"><svg
                                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img"
                                              aria-hidden="true" class="v-icon__svg"><path
                                              d="M22.8 7.121H1.2a.804.804 0 0 1-.802-.8V2.48C.398 1.12 1.52 0 2.878 0H21.2c1.36 0 2.48 1.121 2.48 2.48v3.84c-.077.48-.398.801-.878.801zM2 5.52h19.922V2.48c0-.48-.402-.8-.8-.8H2.878a.8.8 0 0 0-.8.8v3.04zm0 0 M9.602 23.922a.632.632 0 0 1-.403-.16.847.847 0 0 1-.398-.723v-8.32L.64 6.879l1.12-1.2 8.4 8.083c.16.16.237.398.237.558v7.442l3.204-1.602v-5.44c0-.239.078-.399.238-.559l8.398-8.398L23.44 6.88l-8.16 8.16v5.68c0 .32-.16.562-.48.722L10 23.84c-.16.082-.32.082-.398.082zm0 0"></path></svg></span></span></span>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div data-v-07723075="" class="row no-gutters">
                                <div class="px-4 col col-12">
                                  <div class="row">
                                    <div class="pt-3 pt-sm-0 col col-6">
                                      <button type="button"
                                              class="fill-width v-btn v-btn--flat v-btn--text theme--light v-size--default"
                                              role="button" aria-haspopup="true" aria-expanded="false"><span
                                        class="v-btn__content"><h3
                                        class="text-body-2 text-capitalize font-weight-medium px-1">
								Open
							</h3> <span aria-hidden="true" class="v-icon notranslate v-icon--left theme--light"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img"
                                        aria-hidden="true" class="v-icon__svg"><path
                                        d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span></span>
                                      </button>
                                      <div class="v-menu"><!----></div>
                                    </div>
                                    <div class="pt-3 pt-sm-0 col col-6">
                                      <button type="button"
                                              class="fill-width v-btn v-btn--flat v-btn--text theme--light v-size--default"
                                              role="button" aria-haspopup="true" aria-expanded="false"><span
                                        class="v-btn__content"><h3
                                        class="text-body-2 text-capitalize font-weight-medium px-1">
								Newest
							</h3> <span aria-hidden="true"
                          class="v-icon notranslate expansion-header__icon v-icon--left theme--light"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img"
                                        aria-hidden="true" class="v-icon__svg"><path
                                        d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span></span>
                                      </button>
                                      <div class="v-menu"><!----></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col col-12">
                                  <aside
                                    class="contact-filters-drawer v-navigation-drawer v-navigation-drawer--absolute v-navigation-drawer--clipped v-navigation-drawer--close v-navigation-drawer--is-mobile v-navigation-drawer--right theme--light overflow-hidden elevation-8"
                                    attach=".v-main__wrap" data-cy="div-view-drawer" data-booted="true"
                                    style="height: 100%; top: 0px; transform: translateX(100%); width: 25%; z-index: 3;">
                                    <div class="v-navigation-drawer__content">
                                      <header
                                        class="v-sheet theme--light v-toolbar v-toolbar--dense v-toolbar--flat white"
                                        style="height: 50px;">
                                        <div class="v-toolbar__content" style="height: 50px;">
                                          <button type="button"
                                                  class="v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"
                                                  data-cy="btn-close-drawer"><span class="v-btn__content"><i
                                            aria-hidden="true" class="v-icon notranslate material-icons theme--light">arrow_forward</i></span>
                                          </button>
                                          <label class="subheading">My Contacts</label>
                                          <div class="spacer"></div> <!----></div>
                                      </header>
                                      <div class="fill-height">
                                        <form novalidate="novalidate" class="v-form fill-height">
                                          <hr role="separator" aria-orientation="horizontal"
                                              class="v-divider theme--light">
                                          <div data-v-b7772142=""
                                               class="row overflow-y-auto no-gutters align-content-start"
                                               style="height: calc(100% - 100px);">
                                            <div data-v-b7772142="" class="col col-12">
                                              <div data-v-b7772142="" class="row conditional-list mb-4 mx-5 no-gutters"
                                                   multivalue="">
                                                <div class="col col-12">
                                                  <div class="row flex-no-wrap no-gutters">
                                                    <div class="grow col">
                                                      <div class="row row--dense">
                                                        <div class="col">
                                                          <div class="condition-row-select">
                                                            <div
                                                              class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select pt-0 mt-0 condition-row-select">
                                                              <div class="v-input__control">
                                                                <div role="button" aria-haspopup="listbox"
                                                                     aria-expanded="false" aria-owns="list-9431"
                                                                     class="v-input__slot">
                                                                  <div class="v-select__slot">
                                                                    <div class="v-select__selections">
                                                                      <div
                                                                        class="v-select__selection v-select__selection--comma">
                                                                        Contact Field
                                                                      </div>
                                                                      <input tag="div"
                                                                             input-class="pt-0 mt-0 condition-row-select"
                                                                             id="input-9431"
                                                                             placeholder="Select a category"
                                                                             readonly="readonly" type="text"
                                                                             aria-readonly="false" autocomplete="off">
                                                                    </div>
                                                                    <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append">
                                                                        <span aria-hidden="true"
                                                                              class="v-icon notranslate theme--light"><svg
                                                                          xmlns="http://www.w3.org/2000/svg"
                                                                          viewBox="0 0 24 24" role="img"
                                                                          aria-hidden="true" class="v-icon__svg"><path
                                                                          d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span>
                                                                      </div>
                                                                    </div>
                                                                    <input type="hidden" value="contactField"></div>
                                                                  <div class="v-menu"><!----></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col">
                                                          <div data-v-b2519a38="" class="condition-row-select">
                                                            <div
                                                              class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select pt-0 mt-0 condition-row-select">
                                                              <div class="v-input__control">
                                                                <div role="button" aria-haspopup="listbox"
                                                                     aria-expanded="false" aria-owns="list-9437"
                                                                     class="v-input__slot">
                                                                  <div class="v-select__slot">
                                                                    <div class="v-select__selections">
                                                                      <div
                                                                        class="v-select__selection v-select__selection--comma">
                                                                        Assignee
                                                                      </div>
                                                                      <input tag="div"
                                                                             input-class="pt-0 mt-0 condition-row-select"
                                                                             id="input-9437"
                                                                             placeholder="Select contact field"
                                                                             readonly="readonly" type="text"
                                                                             aria-readonly="false" autocomplete="off">
                                                                    </div>
                                                                    <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append">
                                                                        <span aria-hidden="true"
                                                                              class="v-icon notranslate theme--light"><svg
                                                                          xmlns="http://www.w3.org/2000/svg"
                                                                          viewBox="0 0 24 24" role="img"
                                                                          aria-hidden="true" class="v-icon__svg"><path
                                                                          d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span>
                                                                      </div>
                                                                    </div>
                                                                    <input type="hidden" value="assigneeUserId"></div>
                                                                  <div class="v-menu"><!----></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col">
                                                          <div class="condition-row-select">
                                                            <div
                                                              class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select pt-0 mt-0 condition-row-select">
                                                              <div class="v-input__control">
                                                                <div role="button" aria-haspopup="listbox"
                                                                     aria-expanded="false" aria-owns="list-9442"
                                                                     class="v-input__slot">
                                                                  <div class="v-select__slot">
                                                                    <div class="v-select__selections">
                                                                      <div
                                                                        class="v-select__selection v-select__selection--comma">
                                                                        is equal to
                                                                      </div>
                                                                      <input tag="div"
                                                                             input-class="pt-0 mt-0 condition-row-select"
                                                                             id="input-9442"
                                                                             placeholder="Select an operator"
                                                                             readonly="readonly" type="text"
                                                                             aria-readonly="false" autocomplete="off">
                                                                    </div>
                                                                    <div class="v-input__append-inner">
                                                                      <div class="v-input__icon v-input__icon--append">
                                                                        <span aria-hidden="true"
                                                                              class="v-icon notranslate theme--light"><svg
                                                                          xmlns="http://www.w3.org/2000/svg"
                                                                          viewBox="0 0 24 24" role="img"
                                                                          aria-hidden="true" class="v-icon__svg"><path
                                                                          d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span>
                                                                      </div>
                                                                    </div>
                                                                    <input type="hidden" value="isEqualTo"></div>
                                                                  <div class="v-menu"><!----></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="grow col col-12"><span input-class="pt-0 mt-0"
                                                                                           value="140757"
                                                                                           inputfieldprops="[object Object]"
                                                                                           label="" hide-details="auto"
                                                                                           rules="required|condition_row_value"
                                                                                           menu-props="[object Object]"
                                                                                           variables="workflows"
                                                                                           items=""
                                                                                           placeholder="Deleted Value"
                                                                                           clearable="true"><div
                                                          class="v-input v-input--hide-details v-input--is-label-active v-input--is-dirty theme--light v-text-field v-text-field--is-booted v-text-field--placeholder v-select pt-0 mt-0"><div
                                                          class="v-input__control"><div role="button"
                                                                                        aria-haspopup="listbox"
                                                                                        aria-expanded="false"
                                                                                        aria-owns="list-9448"
                                                                                        class="v-input__slot"><div
                                                          class="v-select__slot"><div class="v-select__selections"><div
                                                          class="v-select__selection v-select__selection--comma">Navid Kianfar</div><input
                                                          data-cy="txt-assignee-selector" input-class="pt-0 mt-0"
                                                          inputfieldprops="[object Object]" variables="workflows"
                                                          id="input-9448" placeholder="Deleted Value"
                                                          readonly="readonly" type="text" aria-readonly="false"
                                                          autocomplete="off"></div><div class="v-input__append-inner"><div
                                                          class="v-input__icon v-input__icon--clear"><button
                                                          type="button" aria-label="clear icon"
                                                          class="v-icon notranslate v-icon--link theme--light"><svg
                                                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                          role="img" aria-hidden="true" class="v-icon__svg"><path
                                                          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></button></div></div><div
                                                          class="v-input__append-inner"><div
                                                          class="v-input__icon v-input__icon--append"><span
                                                          aria-hidden="true" class="v-icon notranslate theme--light"><svg
                                                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                          role="img" aria-hidden="true" class="v-icon__svg"><path
                                                          d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span></div></div><input
                                                          type="hidden" value="140757"></div><div
                                                          class="v-menu"><!----></div></div></div></div></span></div>
                                                      </div>
                                                    </div>
                                                    <div class="shrink ml-3 mt-4 col">
                                                      <button type="button"
                                                              class="v-btn v-btn--flat v-btn--icon v-btn--round theme--light elevation-1 v-size--small">
                                                        <span class="v-btn__content"><span aria-hidden="true"
                                                                                           class="v-icon notranslate theme--light grey--text text--darken-1"
                                                                                           style="font-size: 16px; height: 16px; width: 16px;"><svg
                                                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                          role="img" aria-hidden="true" class="v-icon__svg"
                                                          style="font-size: 16px; height: 16px; width: 16px;"><path
                                                          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></span></span>
                                                      </button>
                                                    </div>
                                                  </div>
                                                </div> <!---->
                                                <div class="shrink mt-3 col">
                                                  <button type="button"
                                                          class="v-btn v-btn--contained v-btn--rounded theme--light v-size--small primary">
                                                    <span class="v-btn__content"><span class="pl-1">Add Condition</span></span>
                                                  </button>
                                                </div>
                                                <div class="shrink mt-3 col">
                                                  <button type="button"
                                                          class="v-btn v-btn--flat v-btn--rounded v-btn--text theme--light v-size--small primary--text">
                                                    <span class="v-btn__content"><span
                                                      class="pl-1">Add Group</span></span></button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <hr role="separator" aria-orientation="horizontal"
                                              class="v-divider theme--light">
                                          <div class="layout mx-4 row justify-center align-center"
                                               style="height: 50px;">
                                            <button type="button" disabled="disabled"
                                                    class="v-btn v-btn--contained v-btn--disabled v-btn--rounded theme--light v-size--small"><span
                                              class="v-btn__content">
				Save New Inbox
			</span></button>
                                            <div class="spacer"></div>
                                            <button type="button" disabled="disabled"
                                                    class="ma-0 v-btn v-btn--disabled v-btn--flat v-btn--rounded v-btn--text theme--light v-size--small"
                                                    data-cy="btn-clear"><span class="v-btn__content">
				Clear
			</span></button>
                                          </div>
                                        </form>
                                      </div>
                                      <div data-v-4b93bb77="" role="dialog" class="v-dialog__container"><!----></div>
                                      <div data-v-c7ff4b00="" role="dialog" class="v-dialog__container"><!----></div>
                                      <div data-v-b0939656="" data-v-12eefe12="" data-v-d67f0da8="" role="dialog"
                                           class="v-dialog__container"><!----></div>
                                      <div role="dialog" class="v-dialog__container"><!----></div>
                                    </div>
                                    <div class="v-navigation-drawer__border"></div>
                                  </aside>
                                </div>
                              </div>
                            </div> <!----></div>
                        </div>
                      </div> <!---->
                      <div data-v-07723075="" role="list"
                           class="v-list conversations-list position-relative fill-height flex-grow-1 overflow-x-hidden overflow-y-auto pa-0 grey lighten-4 v-sheet theme--light"
                           style="">
                        <div data-v-07723075="" class="conversation-loader fill-width" style="display: none;">
                          <div data-v-07723075="" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                               class="v-progress-linear ma-0 theme--light" style="height: 2px;">
                            <div class="v-progress-linear__background primary"
                                 style="opacity: 0.3; left: 0%; width: 100%;"></div>
                            <div class="v-progress-linear__buffer"></div>
                            <div class="v-progress-linear__indeterminate v-progress-linear__indeterminate--active">
                              <div class="v-progress-linear__indeterminate long primary"></div>
                              <div class="v-progress-linear__indeterminate short primary"></div>
                            </div>
                          </div>
                        </div>
                        <div data-v-07723075="" tabindex="-1" role="listitem"
                             class="no-conversations v-list-item theme--light">
                          <div data-v-07723075="" class="v-list-item__content">
                            <div data-v-07723075="" align="center" class="v-list-item__title grey--text text--darken-3">
                              No conversations to show
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div data-v-f787204a="" id="messenger"
                         class="fill-height overflow-hidden position-relative white fill-height col"><!---->
                      <div class="row fill-height no-gutters">
                        <div class="col col-12">
                          <div
                            class="row mx-auto banner--wrapper fill-height align-center justify-center align-content-center">
                            <div class="banner--icon ma-auto col" style="flex: 0 0 300px; margin: 0px auto;">
                              <div class="v-image v-responsive theme--light"
                                   style="min-height: 192px; min-width: 300px; max-height: 192px; max-width: 300px;">
                                <div class="v-responsive__sizer" style="padding-bottom: 100%;"></div>
                                <div class="v-image__image v-image__image--contain"
                                     style="background-image: url(&quot;https://cdn.respond.io/platform/web/assets/static/images/banners/svg/messenger-placeholder.svg&quot;); background-position: center center;"></div>
                                <div class="v-responsive__content" style="width: 200px;"></div>
                              </div>
                            </div>
                            <div class="text-center col col-12 align-self-center">
                              <div class="row align-center justify-center">
                                <div class="title black--text col col-12">
                                  You have no channels connected
                                </div>
                                <div class="py-0 caption font-weight-regular grey--text text--darken-3 col col-9">
                                  You can connect all your business messaging accounts in one place. We call these
                                  accounts channels. Let's connect a channel.
                                </div>
                              </div>
                            </div>
                            <div align-self-center="" class="banner--action text-center col col-12"><a
                              href="/space/92086/settings/channels/connectChannel"
                              class="v-btn v-btn--contained v-btn--rounded v-btn--router theme--dark v-size--default primary"
                              data-cy="btn-connect-channel"><span class="v-btn__content">
					Connect Channel
				</span></a></div>
                          </div>
                        </div> <!----></div>
                      <div role="dialog" class="v-dialog__container"><!----></div>
                      <div role="dialog" class="v-dialog__container"><!----></div>
                    </div> <!----></div>
                </div>
              </div>
            </div>
          </div>
        </div> <!----></div>
    </div>
  </div>
</div>
