<div class="roxana-page roxana-pages-workspace-settings-integrations">
  <div class="roxana-column">
    <app-profile-side-bar></app-profile-side-bar>
  </div>
  <div class="roxana-content">

    <div class="setting-layout">

      <div class="header">
        <div class="title">Integrations</div>
        <div class="description">
          Connect your respond.io Workspace with third-party integrations.
        </div>
      </div>

      <div class="paginated-list">

        <div class="items">

          <div class="item">

            <div class="icon">
              <i class="rox-icon-twitter"></i>
            </div>

            <div class="info">
              <div class="title">Dialogflow</div>
              <div class="description">Disconnected</div>
            </div>

            <div class="expand"></div>

            <div class="status">Pending</div>

            <div class="actions">
              <button>
                <i class="rox-icon-link-2"></i>
                <span>CONNECT</span>
              </button>
            </div>

          </div>
          <div class="item">

            <div class="icon">
              <i class="rox-icon-twitter"></i>
            </div>

            <div class="info">
              <div class="title">Zapier</div>
              <div class="description">Disconnected</div>
            </div>

            <div class="expand"></div>

            <div class="status">Pending</div>

            <div class="actions">
              <button>
                <i class="rox-icon-link-2"></i>
                <span>CONNECT</span>
              </button>
            </div>

          </div>
          <div class="item">

            <div class="icon">
              <i class="rox-icon-twitter"></i>
            </div>

            <div class="info expand">
              <div class="title">Google Sheets</div>
              <div class="description">This integration allows a new row to be created in a Google Sheets with variables passed to specific columns in the Workflow module.</div>
            </div>

            <div class="actions">
              <button mat-ripple>
                <i class="rox-icon-link-2"></i>
                <span>CONNECT</span>
              </button>
            </div>

          </div>


        </div>

        <div class="pager">

        </div>
      </div>

    </div>

  </div>
</div>
