.roxana-application {
  font-family: Roboto,sans-serif;
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;

  .roxana-application-wrapper {
    .roxana-layout {
      display: flex;
    }
  }
}
