<div class="roxana-page roxana-pages-register">
  <div class="roxana-centered-box">
    <div class="roxana-centered-box-wrapper">
      <div class="centered-box-header">
        <i class="rox-icon-message-circle"></i>
        <span>{{ 'APP_NAME' | translate }}</span>
      </div>
      <div class="centered-box-content">
        <div class="heading">{{ 'TRY_ROXANA_FREE' | translate }}</div>
        <div class="action-note">
          {{ 'TRY_ROXANA_FREE_NOTE' | translate }}
        </div>
        <div class="input-wrappers">
          <div class="input-wrapper">
            <div class="inputs">
              <i class="rox-icon-mail"></i>
              <input type="text"
                     [(ngModel)]="forms.email"
                     [placeholder]="'ENTER_YOUR_EMAIL' | translate">
            </div>
            <div *ngIf="validations.email" class="validation">
              {{ validations.email | translate }}
            </div>
          </div>
        </div>
        <div class="action-wrappers">
          <button [disabled]="waiting" mat-ripple>
            <i *ngIf="waiting" class="rox-icon-loader spinner"></i>
            <span>{{ 'GET_STARTED' | translate }}</span>
          </button>
          <div class="action-separator">
            <div class="text">{{ 'OR' | translate }}</div>
          </div>
          <button disabled mat-ripple>
            <i class="rox-icon-google3"></i>
            <span>{{ 'SIGNUP_WITH_GOOGLE' | translate }}</span>
          </button>
        </div>
      </div>
      <div class="centered-box-footer">
        <a routerLink="/account/forgot" href="javascript:void(0)">
          {{ 'FORGOT_PASSWORD' | translate }}
        </a>
        <a routerLink="/account/login" href="javascript:void(0)">
          {{ 'SIGNIN_NOW' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
