@mixin online-status {
  .online-status {
    border-radius: 30px;
    padding: 0 5px;
    border: 1px solid #000;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .color{
      width: 10px;
      height: 10px;
      background: green;
      border-radius: 50%;
    }
    .text{
      font-size: 11px;
    }
  }
}

.fill-height {
  height: 100%;
}
.fill-width {
  width: 100%;
}
.w-250 { width: 250px; }
.roxana-page {
  display: flex;
  flex-grow: 1;
  width: calc(100vw - 55px);
  height: 100vh;
  .roxana-column {
    display: flex;
    flex-direction: column;
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    border-inline-end: 1px solid #000;
    padding: 20px 0;

    .key-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:not(.no-padding) {
        padding: 10px 20px;
      }
      .key {
        display: flex;
        font-size: 12px;

        &.bold {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .value {
        display: flex;
        width: 20px;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        font-size: 12px;
        svg {
          max-width: 16px;
        }
      }
    }
  }
}
.roxana-centered-box {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .roxana-centered-box-wrapper {
    max-width: 450px;
    width: 100%;
    .centered-box-header {
      i {
        font-size: 30px;
        margin-inline-end: 10px;
      }
      span {}
    }
    .centered-box-content {
      border-radius: 4px;
      padding: 50px;

      .heading {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
      }

      .input-wrappers {
        .input-wrapper {
          margin-bottom: 30px;
          .inputs {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
            i {
              display: flex;
              width: 30px;
            }
            input {
              border: none;
              outline: none;
              display: flex;
              flex-grow: 1;
            }
          }
          .validation {
            flex-direction: row-reverse;
            font-size: 11px;
            color: red;
            display: flex;
            visibility: hidden;
          }

          &.error {
            .inputs {
              border-color: red;
              i {
                color: red;
              }
              input {
                color: red;
              }
            }
            .validation {
              visibility: visible;
            }
          }
        }
      }

      .action-wrappers {
        padding-top: 10px;
        button {
          width: 100%;
          background: none;
          border: none;
          border-radius: 20px;
          padding: 10px;
        }
      }
      .action-separator {
        text-align: center;
        position: relative;
        z-index: 1;
        margin: 16px 0;

        .text {
          padding: 0 15px;
          display: inline-block;
          font-size: 15px;

          &:before {
            border-top: 1px solid #000;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
          }
        }
      }
      .action-note {
        padding:0 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 15px;
        font-size: 13px;
      }
    }
    .centered-box-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .centered-box-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 0;

      a {
        text-decoration: none;
      }
    }
  }
}
.roxana-menu-wrapper {
  padding: 5px;
  @include online-status;

  .roxana-menu-item-profile {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .row-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        font-size: 13px;
        font-weight: 500;
      }
    }
    .row-2 {
      font-size: 11px;
    }
  }

  .roxana-menu-item-separator {
    border-bottom: 1px solid #000;
  }
  .roxana-menu-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    .title {
      font-size: 14px;
      font-weight: 400;
    }
    .description {
      font-size: 12px;
      font-weight: 300;
      text-align: justify;
    }
  }

  &.no-space {
    padding: 0;
    .roxana-menu-item {
      margin: 0;
    }
  }
}
.roxana-main {
  display: flex;
  flex-grow: 1;
}
.roxana-content {
  display: flex;
  flex-grow: 1;
  @include online-status;
  .online-status {
    padding: 5px;
    width: 90px;
  }
  .setting-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 40px;
    .header {
      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .description {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      border-bottom: 1px solid #000000;
    }
    .forms {
      padding-top: 30px;
      .form-input {
        margin-bottom: 20px;
        .title {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 5px;
          display: flex;
          align-items: center;

          i {
            font-size: 16px;
            margin-inline-start: 10px;
            cursor: pointer;
          }
        }
        input {
          border: none;
          outline: none;
          background: none;
          border-bottom: 1px solid #000000;
          padding: 5px 0;
          width: 100%;
        }
        .validation {
          display: flex;
          flex-direction: row-reverse;
          visibility: hidden;
          font-size: 10px;
          font-weight: 500;
        }

        &.error {
          .validation {
            visibility: visible;
          }
          input {
            border-bottom-width: 2px;
          }
        }

        &.focus {
          input {
            border-bottom-width: 2px;
          }
        }
      }

      .submit {
        button {
          border: none;
          outline: none;
          padding: 10px 15px;
          border-radius: 20px;
          font-size: 13px;
        }
      }
    }
  }
}
.app-loading {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  ul.list-bars {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin: 0 7px;
      width: 8px;
      border-radius: 10px;
      background-color: #fff;
      animation: app_loader_animate 0.8s infinite alternate;
      &:nth-child(odd) {
        height: 80px;
        animation-delay: 0.6s;
      }
      &:nth-child(even) {
        height: 20px;
      }
    }
  }

  @keyframes app_loader_animate {
    from {
      height: 5px;
    }
    to {
      height: 70px;
    }
  }
}
